
<div class="card-model">
    <a href="{{ path('app_brand_index') }}">
        <div class="card-model-picture">
            <img src="{{ asset('build/images/...') }}" alt="{{ model.name }}">
            <div class="card-genre-description d-flex">
                <p class="m-auto">{{ model.name }}</p>
            </div>
        </div>
    </a>
</div>